@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,300&family=Questrial&family=Roboto:wght@500&display=swap');


.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transform-origin: bottom;
    transform: scale(1, 110%);


}

.section {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
}

.buttons_top {
    display: flex;
    flex-direction: row;
    gap: 39px;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */
    /* width: 100px; */
    /* width: 50%; */
}

.btn1 {
    color: white;
    width: 13vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    border-radius: 26.857px;
    border: 1.492px solid #FFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.194px;
    line-height: normal;
    background-color: transparent;
    z-index: 2;
    font-size: 30px;
    font-weight: 900;
}

.btn1:hover {
    cursor: pointer;
}

.btn2 {
    color: #000000;
    z-index: 2;
    width: 13vw;
    height: 7vh;
    border-radius: 26.857px;
    border-color: black;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    line-height: auto;
    background-color: transparent;
    font-size: 30px;
    font-weight: 900;
    z-index: 2;

}

.middlepart {
    display: flex;
    /* flex-direction: Z; */
    margin: 0;
    height: max-content;

}

.box1 {
    padding: 50px 70.52px 130.56px 70.55px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 50%;
    align-items: center;
    justify-content: center;


    /* height: 125vh; */
}

.upper_box1 {
    display: flex;
    width: 30vw;
    height: 60vh;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ch {
    width: 250.453px;
    height: 142.67px;
    flex-shrink: 0;
    /* align-items: center;*/
    text-align: center;
    margin-top: 50px;
    font-family: Questrial;
    color: #FFF;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -15px;
    line-height: normal;
}

.c {
    width: 47.872px;
    height: 109.67px;
    font-size: 90.955px;

}

.h {
    width: 150.559px;
    height: 128.819px;
    font-size: 130.94px;
}

.pink {
    color: #F74D79;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    /* margin-left: 138px; */
    margin-top: 5px;
}

.connect_container {
    display: flex;
    flex-direction: column;
    /* margin-left: 78px; */
    margin-top: 30px;
    width: 445px;
    height: 372px;
    border-radius: 8.36px;
    border: 1.045px solid #414141;
    background: #2F2F2F;
    color: #FFF;

}

.item {
    position: relative;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    width: 445px;
    height: 62px;
    padding: 20px 211px 0px 35px;
    margin-left: 35px;
}

.item:hover {
    cursor: pointer;
}

.addline {
    width: 445.01px;
    height: 0.25px;
    background: #C6C6C6;
    /* z-index: -1; */
}

.cont {

    /* margin-left: 78px; */
    margin-top: 20px;
    display: flex;
    width: 445px;
    height: 61px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2F2F2F;
    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;

}

.lowerbox {
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.lowerbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;

}

.ch2 {
    width: 250.453px;
    height: 142.67px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    position: relative;
    /* top: -10px; */

    margin-top: 5px;
    font-family: Questrial;
    color: #FFF;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -15px;
    line-height: normal;
}



.connect {
    color: #F74D79;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    height: 38px;
    /* margin-left: 151px; */

}

.frame65 {
    display: flex;
    width: 445px;
    padding: 18px 26px 24px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 8.36px;
    border: 1.045px solid #414141;
    background: #2F2F2F;
    /* margin-left: 91px; */
    margin-top: 15px;
}

.text {
    width: 393px;
    height: 64px;
    color: #A0A0A0;
    text-align: justify;
    font-family: Questrial;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.96px;

}

.frame67 input {
    display: flex;
    width: 445px;
    height: 61px;

    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #2F2F2F;
    /* margin-left: 91px; */
    margin-top: 20px;

    color: #6B6B6B;
    border: 1.045px solid #414141;
    text-align: justify;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}

::placeholder {
    text-align: center;
}


.frame66 {
    display: flex;
    width: 445px;
    height: 61px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F74D79;
    /* margin-left: 91px; */
    margin-top: 20px;

    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
}



.frame68 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* margin-left: 108px; */
    width: 418px;
    height: 16px;
    margin-top: 25px;
}

.line {
    width: 147.014px;
    height: 0.5px;
    background: #9F9F9F;
}

.or_continue {
    color: #9F9F9F;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    /* margin-left: 261.01px; */
}

.frame71 {
    display: inline-flex;
    align-items: flex-start;
    gap: 18px;
    width: 446px;
    height: 40px;
    /* margin-left: 91px; */
    margin-top: 25px;
}

.frame69 {
    display: flex;
    gap: 12px;
    width: 214px;
    height: 40px;
    padding: 10px 67.8px 10.8px 59px;
    align-items: center;
    border-radius: 8.36px;
    border: 1.045px solid #414141;
    background: #2F2F2F;

    color: #6B6B6B;
    text-align: justify;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-left: 10px;

}

.google_logo {
    width: 19.2px;
    height: 19.2px;
}



.frame70 {
    display: flex;
    width: 214px;
    height: 40px;
    gap: 12px;
    padding: 10.5px 49px 10.5px 89px;
    align-items: center;
    background-color: #F74D79;
    border-radius: 8.36px;
    border: 1.045px solid #414141;

    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.8px;
    align-items: center;

}

.insta_logo {
    width: 20px;
    height: 20px;
    margin-left: -50px;

}

.box2 {

    padding: 100px 57.52px 105.56px 57.55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100.9px;
    background: #383838;
    width: 50%;
    /* position: relative;  */
    /* margin: 30px; */



}

.sidepart {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50.6px;
}


.h1,
.h2,
.h3 {
    display: flex;
    gap: 12.6px;
    flex-direction: row;
    align-items: flex-start;
    width: 95%;

}

.text1 {
    width: 424px;
    height: 43px;
    color: #FFF;
    font-family: Roboto;
    font-size: 32.8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;

}

.text2 {
    width: 388.8px;
    height: 43.2px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

.text3 {
    width: 424px;
    height: 43px;
    color: #FFF;
    font-family: Roboto;
    font-size: 32.8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
}

.text4 {
    width: 388.8px;
    height: 43.2px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

.text5 {
    width: 424px;
    height: 43px;
    color: #FFF;
    font-family: Roboto;
    font-size: 32.8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
}

.text6 {
    width: 388.8px;
    height: 43.2px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}


.sidepart2 {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    gap: 50.6px;
    /* margin-top: 100px; */
    margin-left: -10px;
    /* display: none; */
}

@media only screen and (min-width: 375px) and (max-width:1023px) {

    .section{
        width: 100vw;
        height: 60vh;

    }
    .buttons_top {
        flex-direction: column;

    }

  

    .btn1,
    .btn2 {
        width: 40vw;
        font-size: 20px;
        /* height: 100px; */
        align-items: center;
    }
    .box1 {
        width: 100vw;
        height: max-content;
        padding: 20px;
        gap: 200px;
     
    }

    .middlepart {
        flex-direction: column;
    }

    .upper_box1 {
        width: 90vw;
        align-items: center;
        justify-content: center;
        height: 80vh;
        margin-top: 20px;
    }

    .ch {
        width: 17hw;
        height: 10vh;
        margin-top: 60px;
        font-family: Questrial;
        color: #FFF;
        font-weight: 300;
    }

    .c {
        width: 10vw;
        font-size: 65.955px;
    }

    .h {
        width: 10vw;
        font-size: 95.94px;
    }

    .pink {
        font-size: 25px;
        margin-left: 50px;
        width: 80vw;
        margin-top: 20px;
        padding-top: 5px;
    }

    .connect_container {

        margin-left: 0px;
        margin-top: 30px;
        width: 80vw;
        height: 300px;
        justify-content: center;
        /* padding: 10px; */

    }

    .item {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        width: 80vw;
        height: 50px;
        padding: 20px 151px 0px 25px;
        margin-left: 20px;

    }

    .addline {
        width: 300px;
    }


    .cont {

        /* margin-left: 40px; */
        width: 300px;
        height: 50px;
    }

    .lowerbox{
        width: 80vw;
        /* height: 80vh; */
        /* max-height: fit-content; */
        height: 90vh;
        gap: 5px;
    }

    .ch2 {
        width: 17hw;
        height: 10vh;
    }

    .connect {
        font-size: 25px;
        height: 38px;
        /* margin-left: 80px; */
        width: 80vw;
        margin-top: 15px;

    }


    .frame65 {

        width: 320px;
        padding: 10px 20px 20px 20px;
        /* margin-left: 28px; */
    }

    .text {
        width: 300px;
        font-size: 14px;
    }

    .frame67 input {
        display: flex;
        width: 320px;
        height: 45px;
        /* margin-left: 30px; */
    }

   
    .frame66 {
        width: 80vw;
        height: 12vw;
        /* margin-left: 30px; */
        font-size: 20px;
    }

    .frame68 {

        gap: 5px;
        /* margin-left: -20px; */
        height: 14px;
        margin-top: 25px;
        width: 100vw;

    }

    .line {
        width: 80px;
        height: 0.5px;
    }

    .or_continue {
        font-size: 14px;
        font-weight: 500;

    }

    .frame71 {

        gap: 10px;
        width: fit-content;
        /* margin-left: 30px; */
    }

    .frame69 {
        width: 40vw;
        height: 40px;
        padding: 5px 50.8px 5.8px 40px;
        /* margin-left: -5px; */
    }

    .google_logo {
        width: 15.2px;
        height: 15.2px;
        margin-left: -10px;
    }

    .frame70 {
        width: 40vw;
        padding: 5px 50.8px 5.8px 60px;
    }

    .insta_logo {
        width: 15px;
        height: 15px;
        margin-left: -50px;

    }


    .box2 {
        width: 100vw;
        max-height:max-content;
        padding: 0px;
    }

    .sidepart {
        width: 80vw;
        flex-wrap: wrap;
        max-height: fit-content;
        height: 100vh;
    }



    .h1,
    .h2,
    .h3 {
        width: 100vw;
        gap: 5px;
        flex-direction: row;
        max-width: 80vw;
        word-wrap: break-word;

    }

    .logo1,
    .logo2,
    .logo3 {
        width: 28px;
        height: 28px;
    }

    .side_text {
        width: 75vw;
        gap: 5px;
    }

    .text1,
    .text3,
    .text5 {
        font-size: 20px;
        font-weight: 500;
        width: 80vw;
     

    }

    .text2,
    .text4,
    .text6 {
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0.6px;
        width: 90vw;
  
        word-wrap: break-word;
    }


    .sidepart2 {
        display: none;
    }




    .lastpart {
        display: none;
    }



}


@media only screen and (min-width: 768px) and (max-width:1023px) {

    .connect_container {

        margin-left: 0px;
        margin-top: 30px;
        width: 445px;
        height: 372px;
        border-radius: 8.36px;
        border: 1.045px solid #414141;
        background: #2F2F2F;
        color: #FFF;

    }


    .item {
        position: relative;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
        width: 445px;
        height: 62px;
        padding: 20px 211px 0px 35px;
        /* margin-left: 35px; */

    }

    .addline {
        width: 445.01px;
        height: 0.25px;
        background: #C6C6C6;
        /* z-index: -1; */
    }

    .cont {

        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        width: 445px;
        height: 61px;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #2F2F2F;
        color: #FFF;
        text-align: justify;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
    }

    .pink {
        color: #F74D79;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.6px;
        margin-left: 0px;
        margin-top: 5px;
        width: fit-content;

    }

    .connect {
        color: #F74D79;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.6px;
        height: 38px;
        margin-left: 0px;

    }


    .frame65 {
        display: flex;
        width: 445px;
        padding: 18px 26px 24px 26px;
        justify-content: center;
        align-items: center;
        border-radius: 8.36px;
        border: 1.045px solid #414141;
        background: #2F2F2F;
        margin-left: 0px;
        margin-top: 15px;
    }

    .text {
        width: 393px;
        height: 64px;
        color: #A0A0A0;
        text-align: justify;
        font-family: Questrial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.96px;

    }

    .frame67 input {
        display: flex;
        width: 445px;
        height: 61px;

        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #2F2F2F;
        margin-left: 0px;
        margin-top: 20px;

        color: #6B6B6B;
        border: 1.045px solid #414141;
        text-align: justify;
        border-radius: 8px;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1px;
    }

    ::placeholder {
        text-align: center;
    }

    .frame66 {
        display: flex;
        width: 445px;
        height: 61px;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #F74D79;
        margin-left: 0px;
        margin-top: 20px;

        color: #FFF;
        text-align: justify;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
    }


    .frame68 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-left: 0px;
        width: 418px;
        height: 16px;
        margin-top: 25px;
    }

    .line {
        width: 147.014px;
        height: 0.5px;
        background: #9F9F9F;
    }

    .or_continue {
        color: #9F9F9F;
        text-align: justify;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.7px;
        margin-left: 0px;
    }

    .frame71 {
        display: inline-flex;
        align-items: flex-start;
        gap: 18px;
        width: 446px;
        height: 40px;
        margin-left: 0px;
        margin-top: 25px;
    }

    .frame69 {
        display: flex;
        gap: 12px;
        width: 214px;
        height: 40px;
        padding: 10px 67.8px 10.8px 59px;
        align-items: center;
        border-radius: 8.36px;
        border: 1.045px solid #414141;
        background: #2F2F2F;

        color: #6B6B6B;
        text-align: justify;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.8px;
        margin-left: 0px;

    }

    .google_logo {
        width: 19.2px;
        height: 19.2px;
    }



    .frame70 {
        display: flex;
        width: 214px;
        height: 40px;
        gap: 12px;
        padding: 10.5px 49px 10.5px 89px;
        align-items: center;
        background-color: #F74D79;
        border-radius: 8.36px;
        border: 1.045px solid #414141;

        color: #FFF;
        text-align: justify;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.8px;
        align-items: center;

    }

    .insta_logo {
        width: 20px;
        height: 20px;
        margin-left: -50px;

    }






}