
.FAQtext{
color: #FFF;
font-family: Cardo;
font-size: 45px;
font-style: normal;
font-weight: 700;
letter-spacing: 2.25px;
text-align: center;
/* transform: translateY(60px); */
}

.FAQcontainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    text-align: center;
}
.FAQboxes{
    width: 50vw;
}
@media only screen and (min-width:320px ) and (max-width:1023px){
    .FAQtext{
        font-size: 30px;
    }
}