* {}

.section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogSection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.blogSectionInner{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.blogHeadings{
    display: flex;
    justify-content:space-between;
}

.blogsBox{
    display: flex;
    justify-content: center;
    height: 70vh;
}

.trendingBlog{
    width: 50%;
}

.horzBlogsOuter{
    width: 50%;
}

.horzBlogsInner{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    gap:10px;
    
}

.heroLandingImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}



.carouselSection {
    min-height: 100vh;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .carouselContentContainer {
    display: flex;
    width: 95%;
    margin: 15px 0px;
    gap: 15px;
}

.carouselSection .carouselContentBtn {
    border-radius: 30px;
    text-transform: none;
    font-size: 23px;
    min-width: 72.6px;
    height: 43.73px;
    border: 0.83px solid rgba(71, 71, 71, 1);


    

    font-family: 'Roboto';
    font-style: normal;
    
    font-size: 23.1px;
    line-height: 27px;
    color: #FFFFFF;

    &:hover {
        background-color: #5f5f5f;
        
    }
}

 .carouselDisplayText {
    padding: 20px 0px;
    color: rgba(177, 177, 177, 1);
    width: 100%;
    margin: 0px auto;
    font-size: 24px;


   

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    letter-spacing: 0.05em;

    color: #B1B1B1;

    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.whoAreWeContainer {
    display: flex;
    min-height: 100vh;
}

.whoAreWeContainer .contentPanel {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 5%;
}

.whoAreWeContainer .contentPanel>h2 {
 
    margin-bottom: 20px;
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 36px;
    text-align: justify;
    letter-spacing: 0.05em;

    color: #F74D79;


}

.whoAreWeContainer .contentPanel>detail {

        font-family: 'Questrial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
      
        letter-spacing: 0.05em;

        color: #FFFFFF;

}

.whoAreWeContainer .imagePanel {
    width: 50%;
}

.whoAreWeContainer .imagePanel>img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.welcomeSection {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}

.welcomeSection>h2 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 48px;
line-height: 59px;
text-align: center;
letter-spacing: 0.05em;
color: #F74D79;

}

.welcomeSection>detail {
font-family: 'Questrial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
letter-spacing: 0.05em;
color: #FFFFFF;


}


.trendingBlogsText{
    color:rgba(247, 77, 121, 1) !important; 
    font-size:41px !important;
    font-family:"Questrial" !important;
    font-weight: 400 !important;
    line-height: 42px !important;
    letter-spacing: 0.05em !important;
                    
}

.moreText{

    color: white !important;
    font-size: 26px !important;
    display: flex !important;
    align-items: center !important;
    padding-right: 40px !important;
    font-family: "Roboto" !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: 0.05em !important;
}

/*@media only screen and (min-width: 375px) and (max-width:767px){

    .heroLandingImage {
         object-fit: cover;
        width: 100vw; 
        height: fit-content;
    
    
    }
    .carouselSection {
        min-height: 100vh;
        width: 90%;
    }
    
     .carouselContentContainer {
        width: 85%;
        gap: 5px;
        transform: translateY(10px);
    }
    
    .carouselSection .carouselContentBtn {
        font-size: 18px;
        min-width: 20%;
        height: 20%;
        line-height: 29px;
    
    }
    
     .carouselDisplayText {
     
        width: 80%;
        font-size: 20px;
        gap: 10px;
        font-weight: 300;
        line-height: 30px;
     
    
    }

    .whoAreWeContainer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        transform: translateY(40px);
        width: 100%;
    }
    
    .whoAreWeContainer .contentPanel {
        width: 80%;
        justify-content: center;
        align-items: center;
        
        
    }
    
    .whoAreWeContainer .contentPanel>h2 {
     
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 35px;
        padding: 10px;
        
      }
    
    .whoAreWeContainer .contentPanel>detail {
            width: 70%;
            height: fit-content;
            margin-left: 20px;
             padding-top: 50px; 
  
            font-size: 18px;
            line-height: 25px;
    
    }
    
    .whoAreWeContainer .imagePanel {
        width: 100%;
        height: fit-content
     
    }
    .imagePanel{
        width: 80vh;
        height: 40vh;
    }
    
    .whoAreWeContainer .imagePanel>img {
        object-fit: cover;
        width: 100%;
           height: 50vh;
           margin-bottom: 35px;
    }

    .welcomeSection {

        width: 100%;
        
        justify-content: center;
        align-items: center;
        text-align: center;
   
    }
    
    .welcomeSection>h2 {
        width: 90%;
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    
    }
    
    .welcomeSection>detail {
        width: 70%;
    font-weight: 400;
    font-size: 18px; 
    gap: 25px;

    }

   
    .blogSectionInner{
        transform: translateY(60px);
    }

.blogsBox{
    display: flex;
    flex-direction: column;
     height: 75vh;
     transform: translateY(30px);
}

.trendingBlog{
    width: 100%;
    height: fit-content;
    height: 40vh;
}

.horzBlogsOuter{
    width: 100%;
    height: fit-content;

}


#card {
    height: 50vh;
}



}

    
@media only screen and (min-width: 768px) and (max-width:1024px){

    .heroLandingImage{
        height: fit-content;
    }


    .welcomeSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .welcomeSection>h2 {
  
    font-weight: 400;
    font-size: 60px;
    line-height: 59px;
 }
    
    .welcomeSection>detail {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
     letter-spacing: 0.06em;
     margin-top: 10px;
   }


.carouselSection {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .carouselContentContainer {
    display: flex;
    width: 100%;
    margin-left: auto ;
    gap: 7px;
}

.carouselSection .carouselContentBtn {
    border-radius: 30px;
    text-transform: none;
    font-size: 23px;
    min-width: 25%;
    height: 25%;
    border: 0.83px solid rgba(71, 71, 71, 1);


    

    font-family: 'Roboto';
    font-style: normal;
    
    font-size: 23.1px;
    line-height: 27px;
    color: #FFFFFF;

    &:hover {
        background-color: #5f5f5f;
        
    }
}

 .carouselDisplayText {
    padding: 20px 0px;
    color: rgba(177, 177, 177, 1);
    width: 100%;
    margin: 0px auto;
    font-size: 24px;


   

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;

    color: #B1B1B1;

    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

} */
