.mainContainer{
    
    width:64.26%;
   
    margin: 0px auto;
}
.typeBox{
    padding:14px;
     /* height: 120px; */
    border-radius: 8px;
    background-color: #2F2F2F;
    border: 1px solid #414141;
}
.typeBox .userDetail{
    display: flex;
    
}
.typeBox .userDetail .logo{
    width:32px;
    height:32px;
    color: white;
    padding:5px;
    border-radius: 50%;
    background-color: #000000;

}
.typeBox .userDetail .username{
    padding: 5px;
    color:aliceblue;
    font-weight: 500;

}
.typeBox .textArea{
    height:56px;
    margin-left:37px;
    margin-top:10px;
    color: #A0A0A0;
}
.typeBox .buttonArea{
  display: flex;
  justify-content: flex-end;
}
.typeBox .respondBtn{
    /* position: absolute; */
    right: 0px;
    width:85px;
    /* height:23px; */
    color: white;
    padding:5px 10px;
    border-radius: 18px;
    border: 1px solid white;
}