.carouselImage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: pink;
    /* width: 765px; */
    /* height: 447.37px; */
    flex-direction: row ;
} 
 
.carouselArrows{
    /* display: flex; */
    height: 33.6px;
    width: 33.6px;
    /* padding: 0px 287.3px;  */
    /* justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    /* padding: .4em; */
    /* z-index: 2; */
} 