@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


.appbar {
    width: 68% !important;
    margin-left: auto;
    margin-right: auto;
    top: 10px !important;
    border-radius: 16px;
    max-width: 1500px;
    backdrop-filter: blur(8px);
    /* min-height: 43px; */
}

.toolbar{
    min-height: 50px !important;
    height: 50px;
}
.appbar .tab {
    text-transform: none;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    opacity: 1;
    font-family: 'Questrial', sans-serif;
    height: 40px !important;
}

.appbar #avatarContainer {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appbar #loginBtnContainer .loginBtn{
    /* display: none; */
    color: #F74D79;
    border:1px solid #F74D79;
    background-color: rgba(255, 95, 95, 0.154);

    background-color: #ff6f6f26;

    margin: 10px;
}


@media only screen and (max-width: 1025px) {
    .appbar {
        width: 75% !important;

    }

    .appbar .tab {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media only screen and (max-width: 800px) {
    .appbar {
        background-color: rgba(72, 72, 72, 0) !important;
        border: none !important;
        box-shadow: none !important;
        top: 20px !important;

        width: 90% !important;
    }

    .appbar .tab {
        display: none;
    }

    #avatarContainer {
        display: none !important;
    }
}